{% extends 'about/base.html' %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block tatle %}
        <title>번역 저장소</title>
    {% endblock %}
</head>

<body>
{% block content %}
    {% csrf_token %}
    <form method="POST" action="{% url 'pj_add' %}">
    <!--VISUAL-->
    <section class="visual">
        <div class="inner">
            <div class="about">
                <h1 class="pj_new">새로운 프로젝트 생성</h1>
                <label class="pj_name">프로젝트 제목 : <input class="pj_add" type="text" name="pj_add" placeholder="제목 입력"></label>
                <button type="submit">프로젝트 생성</button>
                {% if added_pj %}
                <div class="pj_link"> -> 생성됨: <a href="{% url 'trans:tr' added_pj %}" target="_blank">{{added_pj}}</a></div>
                {% else %}
                <div class="pj_link"> -> 생성됨: </div>
                {% endif %}
            </div>
        </div>
    </section>
</form>
    <!--TO TOP BUTTON-->
    <div id="to-top">
        <div class="material-icons">arrow_upward</div>
    </div>
{% endblock %}

</body>
</html>