{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block tatle %}
        <title>번역 저장소</title>
    {% endblock %}
    {% block extrahead %}
    {% endblock %}
{#    아이콘#}
    <link rel="icon" href="{% static './img/favicon.png' %}" />
{#    브라우저 스타일 초기화#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
{#    Google Fonts - 나눔고딕#}
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
{#    Google Material Icons#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
{#    메인 스타일#}
    <link rel="stylesheet" href="{% static './css/main.css' %}"/>
</head>
<body>
    <header>
        <div class="inner">
            <a href="/" class="logo">
                <img src="{% static './img/favicon.png' %}" alt="MAIN"/>
            </a>
            <h1 class="main_vi">번역 저장소</h1>
            <div class="sub-menu">
                <ul class="menu">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'login:logout' %}">{{ user.username }} (로그아웃)</a>
                        </li>
                        <li>
                            <a href="{% url 'login:login' %}">내정보</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login:sign' %}">Sign In</a>
                        </li>
                        <li>
                            <a href="{% url 'login:login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <ul class="main-menu">
                <li class="item">
                    <div class="item__name">
                        <a class="main_a" href="{% url 'sns:index' %}">게시판</a>
                    </div>
                </li>
                <li class="item">
                    <div class="item__name">번역 등록하기
                        <div class="item__contents">
                            <div class="contents__menu">
                                <ul class="inner">
                                    {% for item in file_list %}
                                        <li>
                                            <a class="sub_a" href="{% url 'trans:add' item %}">{{ item }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="item__name">번역 문구 검색
                        <div class="item__contents">
                            <div class="contents__menu">
                                <ul class="inner">
                                    {% for item in file_list %}
                                        <li>
                                            <a class="sub_a" href="{% url 'trans:tr' item %}">{{ item }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    {% block content %}
        {% endblock %}
</body>
</html>