{% extends 'about/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block tatle %}
        <title>번역 저장</title>
    {% endblock %}
{% block extrahead %}
    <!--Google Material Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
{#  전용css #}
    <link rel="stylesheet" href="{% static './css/translate.css' %}"/>
{% endblock %}

</head>

<body>

{% block content %}
  <form method="POST">
      {% csrf_token %}
      <section class="visual">
          <div class="inner">
            <div class="title_name"> Title : {{file_name}}</div>
              <div class="write_box">원문</div>
              <label for="data_inp">
                  <textarea rows="15" cols="28" class="write_text" id="inp" name="inps"></textarea>
              </label>
              <div class="translated_box">번역문</div>
              <label for="data_oup">
                  <textarea rows="15" cols="28" class="translated_text" id="oup" name="oups"></textarea>
              </label>
              <button type="submit" class="material-icons">send</button>
          </div>
      </section>
  </form>
{% endblock %}
</body>
</html>
