{% extends 'about/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block tatle %}
        <title>번역 저장소 - {{ question.subject }}</title>
    {% endblock %}

    {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/sns.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/default_board.css' %}"/>
    {% endblock %}
</head>
<body>
{% block content %}
    <section class="notice">
        <section class="article-detail table-common con row">
            <table class="cell">
                <tbody>
                <tr class="article-title">
                    <th>[번호] : {{ question.con_num }}</th>
                    <td colspan="3">{{ question.subject }}</td>
                </tr>
                <tr class="article-info">
                    <th>작성일 :</th>
                    <td>{{ question.create_date|date:'Y-m-d H:i' }}</td>
                    <th>조회수</th>
                    <td>{{ question.clik_num }}</td>
                </tr>
                <tr class="article-body">
                    <td colspan="4">{{ question.content | safe }}<br>
                        <a class="rud" href="{% url 'sns:revise_page' question.id %}" id="btnEdit">수정</a>&nbsp;
                        <a href="{% url 'sns:del_page' question.id %}" id="btnDelete">삭제</a>&nbsp;
                        <a href="{% url 'sns:index' %}" id="btnList">목록</a>
                        <br>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <div class="con reply">
            <h1 class="">댓글 입력</h1>
            <section class="reply-form">
                <form action="{% url 'sns:answer_create' question.id %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>댓글 작성</legend>
                        {% if user.is_authenticated %}
                            <textarea name="content" rows="4" cols="4" title="댓글 입력" placeholder="댓글 작성을 해 주세요"></textarea>
                        {% else %}
                            <label>작성자 : <input name="name" maxlength="6" title="작성자" placeholder="작성자 입력">
                                비밀번호 : <input type="password"name="password" maxlength="20" title="작성자" placeholder="작성자 입력"></label>
                            <textarea name="content" rows="4" cols="4" title="댓글 입력" placeholder="댓글 작성을 해 주세요"></textarea>
                        {% endif %}
                        <input type="submit" value="답변등록">
                    </fieldset>
                </form>
            </section>
            <h1 class="">댓글 목록</h1>
            <section class="reply-list table-common">
                <table>
                    <colgroup>
                        <col class="dt_th">
                    </colgroup>
                    <tbody>
                    {% for answer in question.answer_set.all %}
                    <tr>
                        <td>작성자 : {{ answer.name }}<br>{{ answer.content }}</td>
                        <td>작성일 : {{ answer.create_date|date:'y-m-d H:i' }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
        </div>
    </section>
{% endblock %}
<!--HEADER-->
</body>
</html>