{#페이징 수정 필요#}
{% extends 'about/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block tatle %}
        <title>번역 저장소 - 자유게시판</title>
    {% endblock %}

    {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/default_board.css' %}"/>
    {% endblock %}
</head>

<body>
{% block content %}
    <section class="notice">
        <div class="page-title">
            <div class="container">
                <h3>자유게시판</h3>
            </div>
        </div>
            <!-- board seach area -->
        <div id="board-search">
            <div class="container">
                <div class="search-window">
                    <form action="">
                        <div class="search-wrap">
                            <label for="search" class="blind">내용 검색</label>
                            <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                            <button type="submit" class="btn btn-dark">검색</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- board list area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col" class="th-name">작성자</th>
                        <th scope="col" class="th-date">등록일</th>
                        <th scope="col" class="th-click">조회수</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for question in question_list %}
                        <tr>
                            <td>{{ question.con_num }}</td>
                            <th> <a href="{% url 'sns:contents' question.id %}">{{ question.subject }}</a></th>
                            <td>{{ question.name }}</td>
                            <td>{{ question.create_date|date:'Y-m-d H:i' }}</td>
                            <td>{{ question.clik_num }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <a href="{% url 'sns:sns_create' %}" type="submit" class="btn btn-dark_cr">작성</a>


                <div class="page_wrap">
                    <div class="page_nation">
                        {% if question_list.has_previous %}
                        <a class="arrow prev"href="?page={{ question_list.previous_page_number }}"></a>
                        {% else %}
                        <a class="arrow prev"href="#"></a>
                        {% endif %}
{#                    페이지 출력#}
                        {% for page_number in question_list.paginator.page_range %}
                            {% if page_number == question_list.number %}
                                <a class="active" href="?page={{ page_number }}">{{ page_number }}</a>
                            {% else %}
                                <a href="?page={{ page_number }}">{{ page_number }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if question_list.has_next %}
                            <a class="arrow next" href="?page={{ question_list.next_page_number }}"></a>
                        {% else %}
                            <a class="arrow next" href="#"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



</body>
</html>
