<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Test Test Title</title>

    <!--파비콘-->
    <!--<link rel="shortcut icon" href="favicon.ico" />-->
    <link rel="icon" href="./favicon.png" />
    <!--브라우저 스타일 초기화-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <!--Google Fonts - 나눔고딕-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
    <!--Google Material Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    {% load static %}
    <link rel="stylesheet" href="{% static './css/main.css' %}"/>
    <style>
        table{
            border-collapse: collapse ;
            position: center ;
            display: flex;
            justify-content: center;
            padding: 50px;
        }
        tr{
            border-bottom: 0.1px dashed gray;
        }
        th{
            padding: 0px 50px;
        }
        .th_main{
            font-size: 2em;
        }
        .th_but{
            position: center ;
            display: flex;
            justify-content: left;
        }
    </style>
</head>
<body>

<!--HEADER-->
<header>
    <div class="inner">

        <a href="/" class="logo">
            <img src="{% static './img/favicon.png' %}" alt="STARBUCKS"/>
        </a>

        <div class="sub-menu">
            <ul class="menu">
                <li>
                    <a href="https://github.com/">Sign In</a>
                </li>
                <li>
                    <a href="https://www.adobe.com/kr/acrobat/online/convert-pdf.html">Login</a>
                </li>
            </ul>
            <div class="search">
                <input type="text" />
                <span class="material-icons">search</span>
            </div>
        </div>
        <ul class="main-menu">
            <li class="item">
                <div class="item__name">
                    <a href="{% url 'sns:index' %}">게시판</a>
                </div>
            <li class="item">
                <div class="item__name">번역 추가
                    <div class="item__contents">
                        <div class="contents__menu">
                            <ul class="inner">
                                {% for item in file_list %}
                                    <li>
                                        <a href="{% url 'trans:add' item %}">{{ item }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            </li>
            <li class="item">
                <div class="item__name">번역
                    <div class="item__contents">
                        <div class="contents__menu">
                            <ul class="inner">
                                {% for item in file_list %}
                                    <li>
                                        <a href="{% url 'trans:tr' item %}">{{ item }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="item__name"><a href="/">ABOUT</a></div>
            </li>
        </ul>
    </div>

</header>


<form method="POST">
    {% csrf_token %}
    <!--VISUAL-->
    <section class="visual">
        <div class="inner">
            <table>
                <tr class="th_main">
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일시</th>
                </tr>
                {% for question in question_list %}
                <tr>
                    <th><a href="{% url 'sns:contents' question.id %}">{{ question.subject }}</a></th>
                    <th>{{ question.name }}</th>
                    <th>{{ question.create_date }}</th>
                </tr>
                {% endfor %}
            </table>
            <div class="th_but">
                <a href="{% url 'sns:sns_create' %}">게시글 작성</a>
            </div>
        </div>
    </section>
</form>



<!--TO TOP BUTTON-->
<div id="to-top">
    <div class="material-icons">arrow_upward</div>
</div>

</body>
</html>