{% extends 'about/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block tatle %}
        <title>번역 저장소 - 삭제</title>
    {% endblock %}

    {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/del.css' %}"/>
    {% endblock %}
</head>
<body>
{% block content %}
    <section class="notice">
    <form method="post">
        {% csrf_token %}
        <div id="btn_group">
            <label>
                <input class="del" type="password" name="password" id="password" placeholder="비밀번호"><br>
                <button class="test_btn1">삭제</button>&nbsp;
                <button class="test_btn2">취소</button>&nbsp;
            </label>
        </div>
    </form>
    </section>
{% endblock %}
</body>
</html>