{% extends 'about/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block tatle %}
        <title>번역 저장소 - {{ question.subject }}</title>
    {% endblock %}

    {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/default_board.css' %}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block content %}
    <section class="notice">
        <div class="container" role="main">
            <form method="POST">
                {% csrf_token %}
                {% if user.is_authenticated %}
                {% else %}
                <div class="mb-3">
                    <label for="reg_id">비밀번호
                        <input type="password" class="form-control" name="su_password" placeholder="비밀번호">
                    </label>
                </div>
                {% endif %}
                <div class="mb-3">
                    <label for="title">제목
                        <input type="text" class="form-control" id="subject" name="subject" value="{{ question.subject }}">
                    </label>
                </div>
                <div class="mb-3">
                    <div class="django-ckeditor-widget" name="content">
                        {{ form.media }}
                        {{ form.content }}
                    </div>
                </div>
                <div>
                    <button class="btn btn-sm btn-primary" id="btnSave">저장</button>
                    <button class="btn btn-sm btn-primary" id="btnList">목록</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
</body>
</html>