{% extends 'about/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block tatle %}
        <title>번역 저장소 - 삭제</title>
    {% endblock %}

    {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/del.css' %}"/>
    {% endblock %}
</head>
<body>
{% block content %}
    <section class="notice">
            <div id="btn_group">
                <form method="get">
                    {% if user.id == question.user_name %}
                        <label class="ce">
                            <button>비밀번호가 다릅니다</button>&nbsp;
                        </label>
                    {% else %}
                        <label class="ce">
                            <button>계정을 확인해주세요</button>&nbsp;
                        </label>
                    {% endif %}
                </form>
            </div>
    </section>
{% endblock %}
</body>
</html>