section.notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21%;
    background-position: center;
    background-color: #f8f8f8;

}

.del {
    width: 10.3em;
    /*height: 100px;*/;
}

.ce{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#test_btn1{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right:-4px;
}
#test_btn2{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left:-3px;
}
#btn_group button{
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
    padding: 5px;
}
#btn_group button:hover{
    color:white;
    background-color: skyblue;
}